<menu><food><calories>600</calories><name> French Toast</name></food><food><calories>650</calories><name> Belgian Waffles</name></food><food><calories>900</calories><name> Berry-Berry Belgian Waffles</name></food><food><calories>900</calories><name> Strawberry Belgian Waffles</name></food><food><calories>950</calories><name> Homestyle Breakfast</name></food></menu>